nav {
    background-color: cadetblue;
    color: white;
    padding: 10px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    align-items: center;
}

.link {
    color: white;
    text-decoration: none;
}

footer {
    background-color: cadetblue;
    padding: 10px;
    text-align: center;
    margin-top: 3px;
}


.footer-redes {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 1rem 0;
}

.footer-redes img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;

}

.footer-redes img:hover {
    transform: scale(1.2);
    filter: brightness(1.2);
}

.btnCart{
    background-color: transparent;
    border: none;
}

.fa-cart-shopping{
    color: red;
}


nav ul {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0 10px;
  flex-wrap: nowrap; 
  gap: 20px; 
}


nav ul img {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}


nav ul li.title {
  flex: 1; 
  text-align: center;
  white-space: nowrap; 
  font-size: 16px; 
}

nav ul li a {
  font-size: 14px; 
  text-decoration: none;
  color: white;
  white-space: nowrap;
}


@media (max-width: 480px) {
  nav ul li a {
    font-size: 12px; 
  }

  nav ul li.title {
    font-size: 14px; 
  }
}




